.box{
    width: 400px;
    height: 350px;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
    box-sizing: border-box;
}
button{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 80px;
    height: 40px;
    letter-spacing: 1px;
    font-weight: 700;
    background-color: aqua;
    color: #2b2b2b;
}
button:hover{
    background-color: #ff6004;
    transform: scale(1.2);

}