.wrapper{
    width: 339px;
    height: 352px;
    border: 2px solid red;
    margin-top: 10px;
    position: relative;
}
.box {

    position: absolute;
    width: 37px;
    height: 50px;
    /*background-color: #2f30dd;*/
    background-image: url("IMG_20180825_103406_BURST2.jpg");
    border: 2px solid black;
}
button{
    width: 50px;
    height: 30px;
    background-color: #ff6004;
}
.btn{
    width: 70px;
    height: 40px;
}